# Режим работы Express-сервера
NODE_ENV=production

# Порт, на котором слушает Express-сервер
PORT=3000

# Основной домен сайта
SITE_DOMAIN=технологист.рф

# Адрес внешнего API (поддомен ayub)
AYUB_API_URL=https://ayub.технологист.рф
